body {
	background-color: white;
}

h1,h2,h3 {
	color: black;
	text-align: center;
	font-family: verdana;
}

p {
	text-align: center;
	font-family: verdana;
	font-size: 20px;
	margin: 5px!important;
}

a {
	color:black!important;
	text-decoration: none;
}

.okvir{
	border: 2px solid black;
	margin-bottom: 10px;
	max-width: 200px;

}

.slika {
	text-align: center;
}


.row {
	border: 2px solid black;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 33%!important;
	margin-right: 33%!important;
}

@media only screen and (max-width: 520px) {
	.row {
		margin-left: 10%!important;
		margin-right: 10%!important;
	}
}

.container{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

.naslov {
	width:100%;
	display: block;
	margin: 0 auto;
	max-width: 592px;
}